.def-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--clr-base);
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-base);
}

.btn-lock {
  pointer-events: none;
  opacity: 0.5;
}