.calendars {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.calendar_block {
    margin: 1em;
    padding: 0.85em 1.5em;
    border-radius: 0.6em;
    color: var(--clr-alt-100);
    outline: 0.15em solid var(--clr-alt-100);
    min-height: 6rem;
}
.calendar_block:hover {
    color: var(--clr-base);
    background-color: var(--clr-alt-100);
}
.calendar_block:hover .calendar_description {
    color: var(--clr-base);
}

.loading {
    text-transform: uppercase;
    color: var(--clr-alt-100);
}

.btn {
    margin: 1em;
    color: var(--clr-alt-100);
    background-color: var(--clr-base);
    outline: 0.1em solid var(--clr-alt-100);
    margin-left: 1em;
    font-weight: inherit;

    transition: 
        transform var(--t-transition-fast) ease-in,
        opacity var(--t-transition-fast) ease-in;;
}
.btn:hover {
    transform: translateY(-0.2em);
}

.calendar_description {
    color: var(--clr-alt-50);
}